* {
   padding:0;
   margin:0;
}

#area_news {
	width: 80% !important;
}

/* this makes the vertical scrollbar appear in firefox regardless of whether the page needs scrolling or not */
body,td,p,input,textarea,select,div
	{
		font-family:arial,sans-serif;
		font-size:12px;
	}

body
	{
		margin:0px;
	}

form
	{
		display:inline;
	}

img,a
	{
		border:0;
	}

.button
	{
		background-color:#F4F4F4;
		border:1px solid #B2B2B2;
	}


/* PARAGRAPH FIX */

/* decrease the spacing between paragraphs */

	#para_small p
		{
			margin:0px 0px 7px 0px;
		}


/* CURSORS */

label
	{
		cursor:pointer;
		cursor:hand;
	}

.cursor
	{
		cursor:pointer;
		cursor:hand;
	}


/* SHADOW BOX */

.shadow_bottom_left{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/shadow_box/bottom_left.png");}
.shadow_bottom_left[class]{background-image:url(/media/images/shadow_box/bottom_left.png);}
.shadow_bottom_middle{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/shadow_box/bottom_middle.png");}
.shadow_bottom_middle[class]{background-image:url(/media/images/shadow_box/bottom_middle.png);}
.shadow_bottom_right{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/shadow_box/bottom_right.png");}
.shadow_bottom_right[class]{background-image:url(/media/images/shadow_box/bottom_right.png);}
.shadow_right_middle{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/shadow_box/right_middle.png");}
.shadow_right_middle[class]{background-image:url(/media/images/shadow_box/right_middle.png);}
.shadow_right_top{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/shadow_box/right_top.png");}
.shadow_right_top[class]{background-image:url(/media/images/shadow_box/right_top.png);}


/* BULLET */

ul{
	list-style-type:square;
	margin:0px 0px 5px 25px;
	padding-left:0;
	}

.bullet_nopadding
	{
		list-style-type:square;
		margin:0px 0px 0px 17px;
		padding-left:0;
	}

/* FONT SIZES */

.font_ss{font-size:10px;}
.font_s{font-size:11px;}
.font_m{font-size:12px;}
.font_l{font-size:13px;}
.font_ll{font-size:14px;}
.font_lll{font-size:15px;}
.font_llll{font-size:16px;}
.font_lllll{font-size:17px;}
.font_llllll{font-size:18px;}
.font_lllllll{font-size:19px;}
.font_llllllll{font-size:20px;}
.font_lllllllll{font-size:21px;}

/* FONT COLOURS */

.font_box_example{color:#AAAAAA;}
.font_grey{color:#666666;}
.font_grey-light{color:#AAAAAA;}
.font_white{color:#FFFFFF;}
.font_purple{color:#333092;}
.font_purple-light{color:#9291C5;}
.font_purple-light-light{color:#ADACD2;}
.font_black{color:#000000;}


/* LINKS */

.link_white a, .link_white a:link, .link_white a:visited, .link_white a:active{color:#FFFFFF;text-decoration:none;}
.link_white a:hover{color:#DDDDDD;text-decoration:none;}

.link_white_underline a, .link_white_underline a:link, .link_white_underline a:visited, .link_white_underline a:active{color:#FFFFFF;}
.link_white_underline a:hover{color:#DDDDDD;}

.link_grey a, .link_grey a:link, .link_grey a:visited, .link_grey a:active{color:#666666;text-decoration:none;}
.link_grey a:hover{color:#949494;text-decoration:none;}

.link_grey-light a, .link_grey-light a:link, .link_grey-light a:visited, .link_grey-light a:active{color:#AAAAAA;text-decoration:none;}
.link_grey-light a:hover{color:#BFBFBF;text-decoration:none;}

.link_links-bar_inactive a, .link_links-bar_inactive a:link, .link_links-bar_inactive a:visited, .link_links-bar_inactive a:active{color:#FFFFFF;text-decoration:none;}
.link_links-bar_inactive a:hover{color:#E6E6E6;text-decoration:none;}

.link_links-bar_active a, .link_links-bar_active a:link, .link_links-bar_active a:visited, .link_links-bar_active a:active{color:#FFFFFF;text-decoration:underline;font-weight:bold;}
.link_links-bar_active a:hover{color:#E6E6E6;text-decoration:underline;font-weight:bold;}

.link_purple-light a, .link_purple-light a:link, .link_purple-light a:visited, .link_purple-light a:active{color:#9291C5;text-decoration:none;}
.link_purple-light a:hover{color:#ADACD2;text-decoration:none;}


/* CAPTURE BOTS */

.bot_capture{display:none;}



/* BACKGROUNDS */

.background_purple{background-color:#333092;}
.background_purple-light{background-color:#EAEAF4;}
.background_grey{background-color:#CECECE;}
.background_white{background-color:#FFFFFF;}

.background_menu_out{background-color:#6C6AB0;}
.background_menu_over{background-color:#605DAA;}


/* DISPLAY */

.display_inline
	{
		display:inline;
	}

.display_inline-block
	{
		display:-moz-inline-block;
		display:-moz-inline-box;
		display:inline-block;
	}
		
.display_block
	{
		display:block;
	}


/* OVERLAY IMAGES */

	.overlay_loading_big{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/overlay/loading_big.png");}
	.overlay_loading_big[class]{background-image:url(/media/images/overlay/loading_big.png);}

	.overlay_loading_small{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/overlay/loading_small.png");}
	.overlay_loading_small[class]{background-image:url(/media/images/overlay/loading_small.png);}

	.overlay_saved{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/overlay/saved.png");}
	.overlay_saved[class]{background-image:url(/media/images/overlay/saved.png);}

	.overlay_error{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/overlay/error.png");}
	.overlay_error[class]{background-image:url(/media/images/overlay/error.png);}




/* ERROR/SUCCESS BOXES */


  /* New Design 2011*/

	/* Development */
/*
	@font-face {
		font-family: 'FontSite Sans Black';
		src: url('http://f.fontdeck.com/f/1/VTBkV1lKSUoABNFn4Gy8VyEx014bNHTzsjNkC78waVCthKz5jfdhhdhVNtAUaSf72FdzeU7C4iWzaWC+kmvmB+Fa.eot');
		src: local('FontSite Sans Black'),
		url('http://f.fontdeck.com/f/1/VTBkV1lKSUoABNFn4Gy8VyEx014bNHTzsjNkC78waVCthKz5jfdhhdhVNtAUaSf72FdzeU7C4iWzaWC+kmvmB+Fa.woff') format('woff'),
		url('http://f.fontdeck.com/f/1/VTBkV1lKSUoABNFn4Gy8VyEx014bNHTzsjNkC78waVCthKz5jfdhhdhVNtAUaSf72FdzeU7C4iWzaWC+kmvmB+Fa.ttf') format('opentype'),
		url('http://f.fontdeck.com/f/1/VTBkV1lKSUoABNFn4Gy8VyEx014bNHTzsjNkC78waVCthKz5jfdhhdhVNtAUaSf72FdzeU7C4iWzaWC+kmvmB+Fa.svg#1469') format('svg');
	}
*/
	/* Production */
	
	@font-face {
	    font-family: 'FontSite Sans Black';
	    src: url('http://f.fontdeck.com/f/1/OE5HQ2dBTTcAAErPrn5hcuRCDeQI1cn3bEBPX/jNiPPo2OwxyDtOEG/KVkztaEcByphuSG2gtQltXA.eot');
	    src: local('FontSite Sans Black'),
	    url('http://f.fontdeck.com/f/1/OE5HQ2dBTTcAAErPrn5hcuRCDeQI1cn3bEBPX/jNiPPo2OwxyDtOEG/KVkztaEcByphuSG2gtQltXA.woff') format('woff'),
	    url('http://f.fontdeck.com/f/1/OE5HQ2dBTTcAAErPrn5hcuRCDeQI1cn3bEBPX/jNiPPo2OwxyDtOEG/KVkztaEcByphuSG2gtQltXA.ttf') format('opentype'),
	    url('http://f.fontdeck.com/f/1/OE5HQ2dBTTcAAErPrn5hcuRCDeQI1cn3bEBPX/jNiPPo2OwxyDtOEG/KVkztaEcByphuSG2gtQltXA.svg#1469') format('svg');
	    font-weight: 800;
	    font-style: normal;
	}
	

	body {
		margin: 0px;
	}
	
	td {
		font-family: Arial, "FontSite Sans Black", 'Helvetica Neue', Helvetica, sans-serif;
	}
	
	a, a:link, a:visited, a:active {
		color: #000000;
		text-decoration: none;
	}

	a:hover {
		color: #91212A;
		text-decoration: none;
	}
	
	.highlight {
		color: #FFFFFF;
		background-color: #91212A;
	}

	/*
	.background{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_body_background.png");}
	.background[class] {
		background-image: url(/media/images/financialstandard/global/2011_body_background.png);
		background-position: center top;
		background-repeat: no-repeat;
	}
	*/

	.background {
		background-image: url(/media/images/financialstandard/global/2011_body_background.png);
		background-position: center top;
		background-repeat: no-repeat;
	}

	.background_events {
		background-image: url(/media/images/financialstandard/global/2011_events_background.png);
		background-position: center top;
		background-repeat: no-repeat;
	}

	.background_little_black_book {
		background-image: url(/media/images/financialstandard/global/2011_little_black_book_background.png);
		background-position: center top;
		background-repeat: no-repeat;
	}

	.background_subscriptions {
		background-image: url(/media/images/financialstandard/global/2011_subscriptions_background.png);
		background-position: center top;
		background-repeat: no-repeat;
	}

	.background_journals {
		background-image: url(/media/images/financialstandard/global/2011_journals_background.png);
		background-position: center top;
		background-repeat: no-repeat;
	}
	
	.header {
		background-image: url(/media/images/financialstandard/global/2011_header_background.png);
		height: 141px;
	}
	
	.navbar {
		background-image: url(/media/images/financialstandard/global/2011_navbar_background.png);
		height: 36px;
	}

	.navbar_journals {
		background-image: url(/media/images/financialstandard/global/2011_navbar_journals_background.png);
		height: 28px;
		text-align: left;
		text-indent: 15px;
	}
	
	.navbar_journals_label {
		font-size: 9pt;
		color: #FFFFFF;
		text-indent: 15px;
	}

	a.navbar_journals_link, a.navbar_journals_link:link, a.navbar_journals_link:visited, a.navbar_journals_link:active {
		font-weight: bold;
		font-size: 9pt;
		color: #FFFFFF;
	}
	
	a.navbar_journals_link:hover {
		font-weight: bold;
		font-size: 9pt;
		color: #CCCCCC;
	}

	.navbar_menu_pulldown {
		font-weight:bold;
		position:absolute;
		top: 8px;
		left: 60px;
		z-index: 1000;
	}

	.navbar_menu_pulldown[class]{
		font-weight: bold;
		top: 8px;
		left: -10px;
		z-index: 1000;
	}
	
	.navbar_menu_pulldown_link {
		font-weight: bold;
		font-size: 9pt;
		color: #FFFFFF;
	}
	
	.links_divider {
		color: #91212A;
	}

	.navbar_register {
		font-weight: bold;
		font-size: 9pt;
		color: #FFFFFF;
	}
	
	.navbar_cpd_login_label {
		font-weight: bold;
		font-size: 9pt;
		color: #FFFFFF;
	}

	.navbar_button_off {
		font-weight: bold;
		font-size: 11pt;
		color: #FFFFFF;
		text-align: center;
	}

	.navbar_button_on {
		font-weight: bold;
		font-size: 11pt;
		color: #000000;
		text-align: center;
	}

	.header_fs_logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_header_fs_logo.png");}
	.header_fs_logo[class]{background-image:url(/media/images/financialstandard/global/2011_header_fs_logo.png);}

	.cpd_login_button{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_button_cpd_login.png");}
	.cpd_login_button[class]{background-image:url(/media/images/financialstandard/global/2011_button_cpd_login.png);}
	
	.main_column_header {
		font-family: "FontSite Sans Black", 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size: 28pt;
		color: #000000;
	}
	
	.fs_itv_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_fs_itv.png");}
	.fs_itv_icon[class]{background-image:url(/media/images/financialstandard/global/2011_icon_fs_itv.png);}

	.sort_by_header {
		font-size: 9pt;
		color: #333333;
		text-align: right;
	}

	.site_search_header {
		font-size: 9pt;
		color: #333333;
		text-align: right;
	}
	

	
	.main_column {
		border-bottom: solid 1px #CCCCCC;
	}
	
	.whitespace_column {
		border-top: solid 1px #CCCCCC;
	}

	.middle_column {
		border-top: solid 1px #CCCCCC;
		border-left: solid 1px #000000;
		border-right: solid 1px #000000;
	}

	.ads_column {
		padding-top: 8px;
		border-top: solid 1px #CCCCCC;
	}

	.horizontal_bar {
		background-color: #000000;
		height: 12px;
	}	
	
	.horizontal_line {
		border: solid 1px #CCCCCC;
	}
	
	.horizontal_divider {
		background-color: #000000;
		height: 3px;
	}

	.top_border {
		border-top: solid 1px #CCCCCC;
	}

	.vertical_line {
		border-right: solid 1px #CCCCCC;
	}
	
	.comment_icon_off{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_comment_off.png");}
	.comment_icon_off[class]{background-image:url(/media/images/financialstandard/global/2011_icon_comment_off.png);}

	.linkedin_icon_off{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_linkedin_off.png");}
	.linkedin_icon_off[class]{background-image:url(/media/images/financialstandard/global/2011_icon_linkedin_off.png);}

	.facebook_icon_off{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_facebook_off.png");}
	.facebook_icon_off[class]{background-image:url(/media/images/financialstandard/global/2011_icon_facebook_off.png);}

	.twitter_icon_off{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_twitter_off.png");}
	.twitter_icon_off[class]{background-image:url(/media/images/financialstandard/global/2011_icon_twitter_off.png);}

	.social_network_hits {
		font-size: 8pt;
		text-align: center;
	}
	
	.news_featured_title {
		font-weight: bold;
		font-size: 16pt;
		color: #91212A;
	}
	
	.news_featured_snippet {
		/*padding-top: 12px;*/
		padding-right: 50px;
		font-size: 11pt;
		padding-bottom: 10px;
	}
	
	.news_important_title {
		font-weight: bold;
		font-size: 12pt;
		color: #91212A;
	}
	
	.news_title {
		font-weight: bold;
		font-size: 12pt;
	}

	.news_snippet {
		padding-top: 12px;
		padding-right: 50px;
		font-size: 9pt;
		padding-bottom: 10px;
	}

	.news_published_time {
		font-size: 8pt;
		color: #91212A;
	}

	.news_published_date {
		font-size: 8pt;
	}

	a.news_link , a.news_link:link, a.news_link:visited, a.news_link:active {
		color: #000000;
		text-decoration: underline;
	}

	a.news_link:hover {
		color: #91212A;
		text-decoration: underline;
	}

	.read_more_link {
		text-decoration: underline;
	}

	.column_header_bold {
		font-family: "FontSite Sans Black", 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size: 28pt;
		color: #000000;
	}
	
	.column_header_italic {
		font-family: Georgia, Arial, Helvetica, sans-serif;
		font-style: italic;
		font-size: 20pt;
		color: #000000;
	}
	
	.video_column_label {
		font-size: 7pt;
		color: #999999;
		text-align: right;
	}
	
	.event_icon_column {
		background-image: url(/media/images/financialstandard/global/2011_icon_events.png);
		background-position: center center;
		background-repeat: no-repeat;
		padding-top: 18px;
	}
	
	.event_icon_label {
		font-size: 16pt;
	}
	
	.event_month_column {
		font-size: 8pt;
	}
	
	.event_date_column {
		background-image: url(/media/images/financialstandard/global/2011_icon_events_date.png);
		background-position: center middle;
		background-repeat: no-repeat;
	}
	
	.jobs_title {
		font-size: 11pt;
		font-weight: bold;
	}
	
	.jobs_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_jobs.png");}
	.jobs_icon[class]{background-image:url(/media/images/financialstandard/global/2011_icon_jobs.png);}
	
	.bytes_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_bytes.png");}
	.bytes_icon[class]{background-image:url(/media/images/financialstandard/global/2011_icon_bytes.png);}
	
	.bytes_column_header {
		font-size: 12pt;
		font-weight: bold;
		color: #000000;
	}
	
	.bytes_column_content {
		background-color: #E3E1E2;
	}
	
	.bytes_column_text {
		font-size: 9pt;
		color: #000000;
	}

	.daily_column_header {
		font-size: 11pt;
		font-weight: bold;
		color: #000000;
	}
	
	.daily_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_daily.png");}
	.daily_icon[class]{background-image:url(/media/images/financialstandard/global/2011_icon_daily.png);}

	.subscription_free_button{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_button_subscription_free.png");}
	.subscription_free_button[class]{background-image:url(/media/images/financialstandard/global/2011_button_subscription_free.png);}

	.red_text {
		color: #91212A;
	}
	
	.white_text {
		color: #FFFFFF;
	}

	.grey_text {
		color: #F1F0F0;
	}

	.article_text_8 p{font-size:8px;}
	.article_text_10 p{font-size:10px;}
	.article_text_12 p{font-size:12px;}
	.article_text_14 p{font-size:14px;}
	.article_text_16 p{font-size:16px;}
	.article_text_18 p{font-size:18px;}
	.article_text_20 p{font-size:20px;}
	
	.article_comment_grey{color:#999999;}

	.article_email_alerts a, .article_email_alerts a:link, .article_email_alerts a:visited, .article_email_alerts a:active{font-size:11px;color:#999999;text-decoration:none;}
	.article_email_alerts a:hover{font-size:11px;color:#999999;text-decoration:underline;}

	.article_email_reply a, .article_email_reply a:link, .article_email_reply a:visited, .article_email_reply a:active{font-size:11px;color:#666666;text-decoration:none;}
	.article_email_reply a:hover{font-size:11px;color:#666666;text-decoration:underline;}

	.news_navbar_more_news {
		background-color: #E5E1E2;
		border: solid 1px #E5E1E2;
		font-weight: bold;
		color: #91212A;
		text-indent: 12px;
	}
	
	.news_navbar_previous {
		background-color: #FFFFFF;
		border: solid 1px #E5E1E2;
		font-weight: bold;
		color: #000000;
		text-align: right;
		padding-right: 12px;
	}

	.news_navbar_next {
		background-color: #FFFFFF;
		border: solid 1px #E5E1E2;
		font-weight: bold;
		color: #000000;
		text-indent: 12px;
	}

	.news_navbar_button_off {
		background-color: #FFFFFF;
		border: solid 1px #E5E1E2;
		font-weight: bold;
		color: #000000;
		text-align: center;
	}

	.news_navbar_button_on {
		background-color: #E5E1E2;
		border: solid 1px #E5E1E2;
		font-weight: bold;
		color: #000000;
		text-align: center;
	}

	.archive_navbar_previous {
		background-color: #FFFFFF;
		border: solid 1px #E5E1E2;
		font-weight: bold;
		color: #000000;
		text-align: center;
	}

	.archive_navbar_next {
		background-color: #FFFFFF;
		border: solid 1px #E5E1E2;
		font-weight: bold;
		color: #000000;
		text-align: center;
	}

	.blogs_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_blogs.png");}
	.blogs_icon[class]{background-image:url(/media/images/financialstandard/global/2011_icon_blogs.png);}
	
	.blogs_column_journalist {
		vertical-align: top;
		padding-top: 12px;
		border-bottom: solid 1px #000000;
	}

	.blogs_column_header {
		font-size: 10pt;
		font-weight: bold;
		color: #000000;
	}

	.blogs_column_label {
		font-size: 9pt;
		color: #999999;
	}
	
	.footer_fs_logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_footer_fs_logo.png");}
	.footer_fs_logo[class]{background-image:url(/media/images/financialstandard/global/2011_footer_fs_logo.png);}
	
	.footer_fs_photo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_footer_fs_photo.png");}
	.footer_fs_photo[class]{background-image:url(/media/images/financialstandard/global/2011_footer_fs_photo.png);}
	
	.footer_rainmaker_logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_footer_rainmaker_logo.png");}
	.footer_rainmaker_logo[class]{background-image:url(/media/images/financialstandard/global/2011_footer_rainmaker_logo.png);}

	.subscription_today_button{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_button_subscription_today.png");}
	.subscription_today_button[class]{background-image:url(/media/images/financialstandard/global/2011_button_subscription_today.png);}
	
	.subscription_today_icon{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_icon_subscription_today.png");}
	.subscription_today_icon[class]{background-image:url(/media/images/financialstandard/global/2011_icon_subscription_today.png);}
	
	.fs_photo_front{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_photo_fs_font.png");}
	.fs_photo_front[class]{background-image:url(/media/images/financialstandard/global/2011_photo_fs_font.png);}

	.fs_photo_back{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/2011_photo_fs_back.png");}
	.fs_photo_back[class]{background-image:url(/media/images/financialstandard/global/2011_photo_fs_back.png);}

	.footer_fs_label {
		font-size: 11pt;
	}

	.footer_journal_heading {
		font-size: 10pt;
		font-weight: bold;
	}
	
	.footer_table_heading {
		font-weight: bold;
		color: #91212A;
	}
	
	.event_calendar_heading {
		font-size: 24px;
	}

	.event_heading {
		font-size: 18px;
		color: #91212A;
	}
	
	.event_label {
		font-size: 10px;
	}
	
	.little_black_book_heading {
		font-size: 24px;
		font-weight: bold;
	}

	.little_black_book_item {
		font-size: 13px;
	}
	
	.little_black_book_company {
		font-size: 12pt;
		color: #91212A;
	}

/* BODY */

	/*
	body
		{
		}
	*/


/* BULLETS */

	.bullet_left_column
		{
			float:left;
			width:4px;
			height:4px;
			background-color:#B69593;
			font-size:1px;
			margin-top:5px;
		}


/* BUTTONS */

.button
	{
		color:#FFFFFF;
		background-color:#88130D;
		border:1px solid #400B08;
		padding:1px;
	}

.button_submit
	{
		color:#FFFFFF;
		background-color:#88130D;
		border:1px solid #400B08;
		font-weight:bold;
	}


/* IMAGES */

/*
	.header_fs_logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/header_fs_logo.png");}
	.header_fs_logo[class]{background-image:url(/media/images/financialstandard/global/header_fs_logo.png);}
*/

	.header_rm_logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/header_rm_logo.png");}
	.header_rm_logo[class]{background-image:url(/media/images/financialstandard/global/header_rm_logo.png);}

	.menu_item_divider{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/menu_item_divider.png");}
	.menu_item_divider[class]{background-image:url(/media/images/financialstandard/global/menu_item_divider.png);}

	.menu_item_background{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/menu_background.png");}
	.menu_item_background[class]{background-image:url(/media/images/financialstandard/global/menu_background.png);}

	.menu_item_over_background{background-image:url(/media/images/financialstandard/global/menu_item_over_background.png);}

	.side_header{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/side_header.png");}
	.side_header[class]{background-image:url(/media/images/financialstandard/global/side_header.png);}

	.side_shadow_newspaper{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/side_shadow_newspaper.png");}
	.side_shadow_newspaper[class]{background-image:url(/media/images/financialstandard/global/side_shadow_newspaper.png);}

	.side_cpd{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/side_cpd.png");}
	.side_cpd[class]{background-image:url(/media/images/financialstandard/global/side_cpd.png);}

	.itv_play_button_only{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/itv_play_button_only.png");}
	.itv_play_button_only[class]{background-image:url(/media/images/financialstandard/global/itv_play_button_only.png);}

	.itv_play_button_small{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/itv_play_button_small.png");}
	.itv_play_button_small[class]{background-image:url(/media/images/financialstandard/global/itv_play_button_small.png);}

	.itv_play_button_side{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/itv_play_button_side.png");}
	.itv_play_button_side[class]{background-image:url(/media/images/financialstandard/global/itv_play_button_side.png);}

	.icon_members_key{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/global/icon_members_key.png");}
	.icon_members_key[class]{background-image:url(/media/images/financialstandard/global/icon_members_key.png);}

	.calendar_date_selector_arrow_down{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/financialstandard/events/date_selector_arrow_down.png");}
	.calendar_date_selector_arrow_down[class]{background-image:url(/media/images/financialstandard/events/date_selector_arrow_down.png);}


/* LINKS */

	/*
	a, a:link, a:visited, a:active{color:#B71C12;}
	a:hover{color:#5C120E;}
	*/

	.news_front_headline a, .news_front_headline a:link, .news_front_headline a:visited, .news_front_headline a:active{color:#000000;text-decoration:none;}
	.news_front_headline a:hover{color:#B71C12;text-decoration:none;}

	.news_front_more a, .news_front_more a:link, .news_front_more a:visited, .news_front_more a:active{color:#868686;text-decoration:none;}
	.news_front_more a:hover{color:#B71C12;text-decoration:none;}

	.news_footer_section a, .news_footer_section a:link, .news_footer_section a:visited, .news_footer_section a:active{color:#FFFFFF;text-decoration:none;}
	.news_footer_section a:hover{color:#D2D2D2;text-decoration:none;}

	.news_footer_headline a, .news_footer_headline a:link, .news_footer_headline a:visited, .news_footer_headline a:active{color:#4F4F4F;text-decoration:none;}
	.news_footer_headline a:hover{color:#B71C12;text-decoration:none;}

	.news_page_section a, .news_page_section a:link, .news_page_section a:visited, .news_page_section a:active{color:#AAAAAA;text-decoration:none;}
	.news_page_section a:hover{color:#B71C12;text-decoration:none;}

	.news_page_quick_links a, .news_page_quick_links a:link, .news_page_quick_links a:visited, .news_page_quick_links a:active{color:#4F4F4F;text-decoration:none;}
	.news_page_quick_links a:hover{color:#B71C12;text-decoration:none;}

	.general_li a, .general_black a:link, .general_black a:visited, .general_black a:active{color:#000000;}
	.general_black a:hover{color:#B71C12;}

	.page_index a, .page_index a:link, .page_index a:visited, .page_index a:active{color:#000000;}
	.page_index a:hover{color:#B71C12;}

	.article_links a, .article_links a:link, .article_links a:visited, .article_links a:active{color:#91212A;text-decoration:underline;}
	.article_links a:hover{color:#B71C12;text-decoration:underline;}



/* FADE LINES */

	.line_fade_left_to_right_white_230{
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/lines/fade_left_to_right_white_230.png");
	}
	.line_fade_left_to_right_white_230[class]{
		background-image:url(/media/images/lines/fade_left_to_right_white_230.png);
	}


/* OVERLAY BOX */

	.overlay_box
		{
			border:1px solid #FFFFFF;
			background-color:#8E1C24;
		}

	.overlay_text
		{
			color:#FFFFFF;		
		}

	.overlay_box_close
		{
			color:#8E1C24;
			background-color:#FFFFFF;
		}

	.overlay_button
		{
			color:#8E1C24;
			font-weight:bold;
			border:1px solid #FFFFFF;
			background-color:#FFFFFF;
		}

.header_menu_pulldown{

	font-weight:bold;
	position:absolute;
	top: 0px;
	left:169px;
	z-index:1000;
}
.header_menu_pulldown[class]{

	font-weight:bold;
	top: 0px;
	left:-10px;
	z-index:1000;
}


/* TRANSPARENCY */

	.transparent_50{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/media/images/transparency/financialstandard_red/50.png");}
	.transparent_50[class]{background-image:url(/media/images/transparency/financialstandard_red/50.png);}


/* FOOTER */

	.link_footer a, .link_footer a:link, .link_footer a:visited, .link_footer a:active{color:#AAAAAA;}
	.link_footer a:hover{color:#C1C1C1;}

	.footer_linebar{background-color:#DBDBDB;}
	.footer_text{color:#AAAAAA;}
  
  img { display: none; }
  #container { width: 355px !important;}